$backgroundColor: #efefef;
$radius: 40%;

form {
  display: inline-block;
  margin: auto;
  width: 200px;
  
  label {
    display: flex;
    margin: 1rem 0.5rem;

    &.methods {
      input {
        cursor: pointer;
        margin-right: 1rem;
        padding: 0.25rem 0.5rem;
        background: #ccc;
        border-radius: 5px;

        // &:hover {
        //   background: rgb(211, 130, 55);
        // }

        &:active {
          background: rgb(211, 130, 55);
        }
        &:focus {
          background-color: rgb(211, 130, 55);
        }
      }
    }
  }
}
